<div class="well">
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">Receta 1</h4>
            
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </p>
            <ul class="list-inline list-unstyled">
                <li><span><i class="glyphicon glyphicon-user"></i> User <i>(user@oru.se)</i> </span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-calendar"></i> @DateTime.Today </span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-folder-open"></i> Kategori </span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-comment"></i><a href=""> 2 Kommentarer</a></span></li>
                <li>|</li>
                <li><span><i class="glyphicon glyphicon-download-alt"></i></span><a href=""> Ladda ned fil </a></li>
                <li>|</li>
            </ul>
        </div>
    </div>
    </div> 
