

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="container">
        <h2 class="formal-blog-header"> Formell Blogg</h2>
        

    </div>
    @{
        Html.RenderPartial("_BlogEntryPartial");
    }
</div>
