@model Örebro_Universitet_Kommunikation.Models.FormalBlogViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="container">
        <h2 class="formal-blog-header"> Formell Blogg</h2>
        @Html.ActionLink("Nytt Inlägg", "CreateEntry", "FormalBlog")

    </div>
    


    @foreach(var item in Model.FormalBlogEntries){
        Html.RenderPartial("_BlogEntryPartial", item);
    }
</div>
