

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="container">
        
        
        

    </div>
    @{
        Html.RenderPartial("_BlogEntryPartial");
    }
</div>
