
@{
    ViewBag.Title = "TempUpload";
}

<h2>TempUpload</h2>
@using (Html.BeginForm("TempUpload", "FormalBlog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="File">
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            
        </div>
    </div>
}
