@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="container">
        <h2 class="formal-blog-header"> Formell Blogg</h2>
        <textarea class="blog-text-area" placeholder="Skriv inlägg här..."> </textarea>
        
        </div>
    </div>
    @{
        Html.RenderPartial("_BlogEntryPartial");
    }
</div>

