
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="formal-blog-header"> Administratörsverktyg</h2>
    <div class="well">
        <div class="btn">
                @Html.ActionLink("Skapa ny användare", "CreateUser", "AdminTool", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

