@model Örebro_Universitet_Kommunikation.Models.AdminToolViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="formal-blog-header"> Administratörsverktyg</h2>
    <div class="well">
        <div class="btn">
            @Html.ActionLink("Skapa ny användare", "CreateUser", "AdminTool", new { Model.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="btn">
            @Html.ActionLink("Skapa ny kategori", "CreateCategory", "AdminTool", new { Model.Id }, new { @class = "btn btn-primary" })
        </div>
        <div class="btn">
            @Html.ActionLink("Skapa nytt forskningsprojekt", "CreateProject", "AdminTool", new { Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

